<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myaddafunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d03947d3-2808-45a6-8edf-a542ad430dea/resourceGroups/function-grp/providers/Microsoft.Web/sites/myaddafunctions</ResourceId>
    <UserName>$myaddafunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://myaddafunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>